body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    height: 15vh;
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#navtitle {
    width: 50%;
}

#navtitle span {
    color: crimson
}

#links {
    width: 50%;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: white;
    text-align: center;
}

.link::after {
    content: "";
    display: block;
    background-color: white;
    height: 0.75vh;
    width: 20%;
    transition: .4s width ease-in-out;
}

.link:hover::after {
    width: 100%;
    transition: .4s width ease-in-out;
}